---
import Menu_perfil from '../components/Menu_perfil.astro';
import Layout from '../layouts/Layout.astro';
import Rodape from '../components/Rodape.astro';
import Quadro from '../components/Quadro_experiencia.astro';
import Quadro_tarefa from '../components/Quadro_tarefa.astro';

import robo from '../images/robo.gif';
import foguete from '../images/foguete.png';
import n8nfluxo from '../images/n8nfluxo.jpg';
import n8nagent from '../images/n8nagent.jpg';
import hotsiteBusca from '../images/hotsiteBusca.jpg'
import hotsiteHome from '../images/hotsiteHome.jpg'
import hotsiteNoticias from '../images/hotsiteNoticias.jpg'
import hotsitePedidos from '../images/hotsitePedidos.jpg'
import correcaoComIa1 from '../images/correcaoComIa1.jpg'
import correcaoComIa2 from '../images/correcaoComIa2.jpg'
import correcaoComIa3 from '../images/correcaoComIa3.jpg'

const slideHotSite = [hotsiteHome, hotsiteBusca, hotsiteNoticias, hotsitePedidos]
const SlideChatBot = [n8nfluxo, n8nagent]
const SlideCorrecaoTexto = [correcaoComIa1, correcaoComIa2, correcaoComIa3]

const descricaoChatBot = "Chatbot inteligente de autoatendimento para a plataforma InfoImóveis, integrando a inteligência artificial da OpenAI ao fluxo automatizado do N8N, com suporte via Chatwoot e integração com a Evolution API. Para isso, criei uma API interna responsável por consultar e consumir os dados dos clientes diretamente no site, permitindo respostas automáticas precisas e personalizadas. Além de interagir com os usuários de forma contextualizada, o chatbot também realiza o envio automatizado de boletos, otimizando ainda mais o atendimento e reduzindo a necessidade de intervenção humana. Essa solução proporcionou maior agilidade, eficiência e escalabilidade nos processos de suporte da plataforma."
const descricaoHotsite = "Desenvolvimento de site que atua como modelo para os lojistas da plataforma Shopcar, utilizando tecnologias modernas e um design inovador. O projeto foi idealizado com a criação de layouts no Figma, garantindo uma experiência visual atrativa e funcional para os usuários. Cada elemento foi pensado para proporcionar uma navegação intuitiva e fluida, refletindo as necessidades específicas de uma plataforma de comércio eletrônico. Com o uso do Next.js, foi possível implementar uma aplicação web robusta e escalável, aproveitando os recursos de renderização do lado do servidor e otimizações que aprimoram o desempenho do site. A integração com o SASS permitiu escrever estilos customizados de forma modular e organizada, possibilitando um desenvolvimento limpo e eficiente. Além disso, criei um segundo tema totalmente desenhado por mim, o que demonstra a capacidade de inovar e adaptar o design às demandas dos lojistas. Todo o projeto foi desenvolvido do zero, reforçando habilidades técnicas e um profundo conhecimento em desenvolvimento web moderno, desde o planejamento visual até a implementação final. Esse projeto não só destaca as competências técnicas em Next.js, SASS e design com Figma, mas também evidencia a habilidade de transformar ideias em produtos digitais de alto impacto, voltados para o e-commerce. A experiência adquirida ao longo desse desenvolvimento me permite contribuir significativamente para projetos que exigem excelência em performance, estética e usabilidade."
const descricaoCorrecaoTexto = "No projeto desenvolvido para a plataforma InfoImóveis, criei uma ferramenta que permite a correção e otimização automática de textos imobiliários por meio de Inteligência Artificial. A seguir, um panorama resumido das etapas e tecnologias envolvidas: Neste contexto, a aplicação foi desenhada para que corretores e imobiliárias possam inserir descrições de imóveis e solicitar que a IA interaja diretamente com o conteúdo, identificando erros gramaticais, aprimorando o estilo e garantindo uniformidade de tom e formatação. O layout foi elaborado em Figma, assegurando uma interface intuitiva e responsiva. Na camada de integração, utilizei a API da OpenAI, estabelecendo comunicação por meio de requisições PHP para enviar o texto ao modelo de linguagem e receber o conteúdo corrigido e formatado. Essa solução hoje potencializa a produtividade das imobiliárias, reduzindo retrabalho e elevando a qualidade das descrições publicadas."


---

<Layout>
	<main>
		<Menu_perfil/>
		<h2 class="text-4xl mb-15 font-bold text-center">XP</h2>

		<div class="flex flex-col gap-4  mx-auto ">
			<Quadro 
			titulo="Shopcar"
			ano="2022 - Atualmente"
			descricao="Contribuindo para a implementação de novas funcionalidades, otimização do sistema e integrações com inteligência artificial. Trabalho com Next.js, React, JavaScript, PHP e SQL, desenvolvendo soluções para o front-end, back-end e banco de dados. Minhas contribuições incluem a melhoria de consultas SQL, aprimoramento da performance da aplicação e a resolução de problemas técnicos, garantindo um fluxo eficiente entre a interface do usuário e a API. Também colaboro na integração de IA para automação de processos e aprimoramento da experiência do usuário, sempre priorizando usabilidade, escalabilidade e segurança."
			/>
			<Quadro 
			titulo="Infoimóveis"
			ano="2022 - Atualmente"
			descricao="Atuo no desenvolvimento da plataforma InfoImóveis, contribuindo para a implementação de novas funcionalidades, otimização do sistema e integrações com inteligência artificial. Trabalho com Next.js, React, JavaScript, PHP e SQL, desenvolvendo soluções para o front-end, back-end e banco de dados. Entre minhas contribuições, destaco a criação de um chatbot com IA, projetado para automatizar o atendimento ao cliente e melhorar a experiência do usuário. Além disso, colaboro na integração de IA para otimização de processos, bem como na melhoria da performance do sistema e na resolução de desafios técnicos, sempre priorizando usabilidade, escalabilidade e segurança."
			/>
			<Quadro
			titulo="Br Hospedagem"
			ano="2022 - Atualmente"
			descricao="Suporte dedicado aos clientes para garantir a máxima eficiência e segurança tanto na hospedagem de sites quanto na de emails. Nosso serviço de hospedagem de sites proporciona desempenho robusto, backups regulares e proteção contra ameaças, aliado a uma interface intuitiva que facilita o gerenciamento dos conteúdos online. No que diz respeito à hospedagem de emails, oferecemos soluções confiáveis que asseguram a continuidade da comunicação, com recursos avançados como filtros antispam e suporte para múltiplas contas, permitindo que os usuários mantenham uma comunicação organizada e segura. Meu papel é orientar e solucionar dúvidas, garantindo que os clientes tirem o máximo proveito dos serviços e tenham uma experiência completa e satisfatória na plataforma."
			/>
		</div>

		<h2 class="text-4xl my-15 font-bold text-center">Confira algumas tarefas e funcionalidades desenvolvidas</h2>

		<div class="flex flex-col gap-7  mx-auto ">

			<Quadro_tarefa titulo="Chatbot de Autoatendimento com IA" skills={[
				'N8N',
				'PHP',
				'AI Integration',
				'JavaScript',
				'POSTGRES'
			  ]} descricao={descricaoChatBot} listaImagens={SlideChatBot} />
	
			<Quadro_tarefa titulo="Site modelo para lojas da plataforma" skills={[
				'Next js',
				'JavaScript',
				'SASS',
				'FIGMA'
			  ]} descricao={descricaoHotsite} listaImagens={slideHotSite} />

			<Quadro_tarefa titulo="Integração de I.A para correção de texto e auxilio a corretores e imobiliárias" skills={[
				'PHP',
				'JavaScript',
				'FIGMA',
				'AI Integration',
				'MySQL'
				]} descricao={descricaoCorrecaoTexto} listaImagens={SlideCorrecaoTexto} />

		</div>		
		
	</main>	
	<Rodape/>
</Layout>