---
import {name_user} from '../constants'
import ImagePerfil from './Image_perfil.astro'
import BotaoTema from './Botao_tema.astro'
import Icon from './Icon.astro'
import Skill from './Skill.astro';

import lightIconLinkedin from '../assets/linkedin_claro.svg';
import darkIconLinkedin from '../assets/linkedin_escuro.svg';
import lightIconGithub from '../assets/github_claro.svg';
import darkIconGithub from '../assets/github_escuro.svg';
import lightEmail from '../assets/email_claro.svg';
import darkEmail from '../assets/email_escuro.svg';

---
<!-- <BotaoTema /> -->
<container class="w-full max-w-5xl mx-auto px-5 box-border flex flex-col items-center justify-center min-h-screen">
    <div class="flex flex-col items-center">
        <ImagePerfil size="small"/>
        <div class="text-center mt-10 flex flex-col items-center gap-8">
            <t1 class="font_title text-6xl">{name_user}</t1>
            <t2 class="font_title text-3xl">Web Developer</t2>
            <p class="text-base mt-4">Desenvolvedor full stack que trabalha com a criação de soluções eficientes, integrando diversas ferramentas de IA para otimizar processos e automações.</p>
            <div class="flex gap-4 mt-4">
                <Icon lightIcon={lightIconLinkedin} darkIcon={darkIconLinkedin} href="https://www.linkedin.com" />
                <Icon lightIcon={lightIconGithub} darkIcon={darkIconGithub} href="https://github.com/denisjunior00" />                
                <Icon lightIcon={lightEmail} darkIcon={darkEmail} href="https://mail.google.com/mail/?view=cm&fs=1&to=contato@denisjr.dev.br" />
            </div>
            <div class="flex gap-4 mt-4 flex-wrap align-center justify-center">
                <Skill nome="AI Integration" />
                <Skill nome="PHP" />
                <Skill nome="React JS" />
                <Skill nome="TypeScript" />
                <Skill nome="Astro" />
                <Skill nome="Figma" />
                <Skill nome="SQL" />
                <Skill nome="Next JS" />
                <Skill nome="N8N" />
                <Skill nome="JavaScript" />
                <Skill nome="POSTGRES" />
            </div>
        </div>
    </div>
</container>